h1 {
    color: rgb(0, 0, 0);
}

/* {
 /*   border: solid;
}*/
.header {
    background-color: cyan;
    display: flex;
    justify-content:space-between
}
.description {
    color: red;
    text-align: center;

}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly

}
.footer {
    display: flex;
    justify-content:flex-end
    
}